<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SYS.FORMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SYS.FORMS.Properties.Settings>
            <setting name="SYS_FORMS_nfce_pr_homologacao_autorizacao_NfeAutorizacao3"
                serializeAs="String">
                <value>https://homologacao.nfce.fazenda.pr.gov.br/nfce/NFeAutorizacao3</value>
            </setting>
            <setting name="SYS_FORMS_nfce_pr_homologacao_consultaRecibo_NfeRetAutorizacao3"
                serializeAs="String">
                <value>https://homologacao.nfce.fazenda.pr.gov.br/nfce/NFeRetAutorizacao3</value>
            </setting>
            <setting name="SYS_FORMS_nfce_pr_homologacao_consultaChaveAcesso_NfeConsulta3"
                serializeAs="String">
                <value>https://homologacao.nfce.fazenda.pr.gov.br/nfce/NFeConsulta3</value>
            </setting>
            <setting name="SYS_FORMS_nfce_pr_homologacao_inutilizacao_NfeInutilizacao3"
                serializeAs="String">
                <value>https://homologacao.nfce.fazenda.pr.gov.br/nfce/NFeInutilizacao3</value>
            </setting>
            <setting name="SYS_FORMS_nfce_pr_homologacao_consultaStatusServico_NfeStatusServico3"
                serializeAs="String">
                <value>https://homologacao.nfce.fazenda.pr.gov.br/nfce/NFeStatusServico3</value>
            </setting>
            <setting name="SYS_FORMS_nfce_pr_homologacao_registroEvento_RecepcaoEvento"
                serializeAs="String">
                <value>https://homologacao.nfce.fazenda.pr.gov.br/nfce/NFeRecepcaoEvento</value>
            </setting>
            <setting name="SYS_FORMS_nfce_pr_producao_autorizacao_NfeAutorizacao3"
                serializeAs="String">
                <value>https://nfce.fazenda.pr.gov.br/nfce/NFeAutorizacao3</value>
            </setting>
            <setting name="SYS_FORMS_nfce_pr_producao_consultaRecibo_NfeRetAutorizacao3"
                serializeAs="String">
                <value>https://nfce.fazenda.pr.gov.br/nfce/NFeRetAutorizacao3</value>
            </setting>
            <setting name="SYS_FORMS_nfce_pr_producao_consultaChaveAcesso_NfeConsulta3"
                serializeAs="String">
                <value>https://nfce.fazenda.pr.gov.br/nfce/NFeConsulta3</value>
            </setting>
            <setting name="SYS_FORMS_nfce_pr_producao_inutilizacao_NfeInutilizacao3"
                serializeAs="String">
                <value>https://nfce.fazenda.pr.gov.br/nfce/NFeInutilizacao3</value>
            </setting>
            <setting name="SYS_FORMS_nfce_pr_producao_consultaStatusServico_NfeStatusServico3"
                serializeAs="String">
                <value>https://nfce.fazenda.pr.gov.br/nfce/NFeStatusServico3</value>
            </setting>
            <setting name="SYS_FORMS_nfce_pr_producao_registroEvento_RecepcaoEvento"
                serializeAs="String">
                <value>https://nfce.fazenda.pr.gov.br/nfce/NFeRecepcaoEvento</value>
            </setting>
            <setting name="SYS_FORMS_nfe_pr_homologacao_autorizacao_NfeAutorizacao3"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.pr.gov.br/nfe/NFeAutorizacao3</value>
            </setting>
            <setting name="SYS_FORMS_nfe_pr_homologacao_consultaRecibo_NfeRetAutorizacao3"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.pr.gov.br/nfe/NFeRetAutorizacao3</value>
            </setting>
            <setting name="SYS_FORMS_nfe_pr_homologacao_consultaChaveAcesso_NfeConsulta3"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.pr.gov.br/nfe/NFeConsulta3</value>
            </setting>
            <setting name="SYS_FORMS_nfe_pr_homologacao_inutilizacao_NfeInutilizacao3"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.pr.gov.br/nfe/NFeInutilizacao3</value>
            </setting>
            <setting name="SYS_FORMS_nfe_pr_homologacao_consultaStatusServico_NfeStatusServico3"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.pr.gov.br/nfe/NFeStatusServico3</value>
            </setting>
            <setting name="SYS_FORMS_nfe_pr_homologacao_consultaCadastro_CadConsultaCadastro2"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.pr.gov.br/nfe/CadConsultaCadastro2</value>
            </setting>
            <setting name="SYS_FORMS_nfe_pr_homologacao_registroEvento_RecepcaoEvento"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.pr.gov.br/nfe/NFeRecepcaoEvento</value>
            </setting>
            <setting name="SYS_FORMS_nfe_pr_producao_autorizacao_NfeAutorizacao3"
                serializeAs="String">
                <value>https://nfe.fazenda.pr.gov.br/nfe/NFeAutorizacao3</value>
            </setting>
            <setting name="SYS_FORMS_nfe_pr_producao_consultaRecibo_NfeRetAutorizacao3"
                serializeAs="String">
                <value>https://nfe.fazenda.pr.gov.br/nfe/NFeRetAutorizacao3</value>
            </setting>
            <setting name="SYS_FORMS_nfe_pr_producao_consultaChaveAcesso_NfeConsulta3"
                serializeAs="String">
                <value>https://nfe.fazenda.pr.gov.br/nfe/NFeConsulta3</value>
            </setting>
            <setting name="SYS_FORMS_nfe_pr_producao_inutilizacao_NfeInutilizacao3"
                serializeAs="String">
                <value>https://nfe.fazenda.pr.gov.br/nfe/NFeInutilizacao3</value>
            </setting>
            <setting name="SYS_FORMS_nfe_pr_producao_consultaStatusServico_NfeStatusServico3"
                serializeAs="String">
                <value>https://nfe.fazenda.pr.gov.br/nfe/NFeStatusServico3</value>
            </setting>
            <setting name="SYS_FORMS_nfe_pr_producao_consultaCadastro_CadConsultaCadastro2"
                serializeAs="String">
                <value>https://nfe.fazenda.pr.gov.br/nfe/CadConsultaCadastro2</value>
            </setting>
            <setting name="SYS_FORMS_nfe_pr_producao_registroEvento_RecepcaoEvento"
                serializeAs="String">
                <value>https://nfe.fazenda.pr.gov.br/nfe/NFeRecepcaoEvento</value>
            </setting>
            <setting name="SYS_FORMS_correios_AtendeClienteService" serializeAs="String">
                <value>https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente</value>
            </setting>
        </SYS.FORMS.Properties.Settings>
    </applicationSettings>
</configuration>